<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGetUmbracoPreRelease" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
    <add key="MyGetUmbracoCloudBundle" value="https://www.myget.org/F/uc-bundle/api/v3/index.json" />
    <add key="Myget_Internal" value="https://www.myget.org/F/uc-test-private-feed/api/v3/index.json" />
    <!--<add key="Umbraco_Internal" value="https://pkgs.dev.azure.com/umbraco/_packaging/Umbraco_Internal/nuget/v3/index.json" />-->
  </packageSources>

	<packageSourceCredentials>
    <Myget_Internal>
    			<add key="Username" value="umbra-jam" />
			<add key="ClearTextPassword" value="%MYGET_API_KEY%" />
    </Myget_Internal>
		<!--<Umbraco_Internal>
			<add key="Username" value="placeholder" />
			<add key="ClearTextPassword" value="%JAM_UMBRACO_PAT%" />
		</Umbraco_Internal>-->
	</packageSourceCredentials>


  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Myget_Internal" >
    <package pattern="JamUmbPac" />
    </packageSource>
  </packageSourceMapping>
  
</configuration>
