<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="UmbracoInternal" value="https://pkgs.dev.azure.com/umbraco/_packaging/Umbraco_Internal/nuget/v3/index.json" />-->

    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGetUmbraco9PreRelease" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
    <add key="MyGetUmbracoCloudBundle" value="https://www.myget.org/F/uc-bundle/api/v3/index.json" />

  </packageSources>

	<!--<packageSourceCredentials>
		<UmbracoInternal>
			<add key="Username" value="jam@umbraco.dk" />
			<add key="ClearTextPassword" value="%MYGET_PASSWORD%" />
		</UmbracoInternal>
	</packageSourceCredentials> -->

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
</configuration>
